<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/my_style.css">
    <title>Lynn's Homepage</title>
</head>
<body>
    <h1> Welcome to Lynn's Homepage! </h1>
    <p> <A href = "labs"> View My Labs </A> </p>
    <!--<p> <A href = "madlibs"> Generate a MadLib </A> </p>-->
    <p style="position: fixed; bottom: 0; width:100%; text-align: center"> Welcome, Visitor Number <%= count %>. </p>
</body>
</html>