<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/my_style.css">
    <title>Lynn's Labs</title>
</head>
<body>
    <h1> Welcome to Lynn's Labs! </h1>
    <p> <A href = "playtictactoe"> Play Tic Tac Toe </A> </p>
    <p> <A href = "coinflip"> Flip a Coin </A> </p>
    <p> <A href = "playmadlibs"> Generate a MadLib </A> </p>
    <p> <A href = "mathform"> Try Some Conversions </A> </p>
    <p> <A href = "showschedule"> See TJ's Schedule </A> </p>
    <p> <A href = "getweather"> Get the Weather </A> </p>
    <p> <A href = "votefruit"> Vote For Fruits </A> </p>
    <p> <A href = "cookiepage"> Count Cookies </A> </p>
</body>
</html>